@import '../../styles/variables.css';

.header {
    background-color: var(--white);
    width: 100%;
    min-height: 550px;
}

.all_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left_header {margin-top: 100px;
    margin-left: 100px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.right_header{
    margin-right: 50px;
    margin-top: 50px;
}

.btn_hire_me{
    height: 40px;
    width: 200px;
    border-radius: 18px;
    background-color: var(--orange);
border: none;

}

.btn_hire_me:hover{
    background-color: var(--color-gray);
}