@import '../../styles/variables.css';

.header {
    background-color: var(--white);
    width: 100%;
    min-height: 550px;
}

.all_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left_header {margin-top: 100px;
    margin-left: 100px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.right_header{
    margin-right: 50px;
    margin-top: 50px;
}

.btn_hire_me{
    height: 40px;
    width: 200px;
    border-radius: 18px;
    background-color:#a280fa;
border: none;
font-size: 20px;

}
.btn_hire_me a{
    text-decoration: none;
color: black;
}

.btn_hire_me:hover{
    background-color: #DBC7C9;
}

.right_header img {
height: 500px;
width: 400px;
object-fit: contain;

}