@import "../../styles/variables.css";

.work_history{
    background: var(--white);
    width: 100%;
    height: 500px;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 50px;
}
   


.title_block{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
  justify-content: space-around;

   
}
.mainInfo{
display: flex;
flex-direction: column;
gap: 50px;

}

.certificateInfo{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.graduate_title{
    display: flex;
    flex-direction: column;
    gap: 50px;
     
}

.graduate_data{
    display: flex;
    flex-direction: column;
    gap: 50px;
}