@import '../../styles/variables.css';

.portfolioTabs {
    display: flex;
    margin-left: 300px;
    margin-bottom: 30px;
}

.portfolioTab {
    margin-right: 37px;
    cursor: pointer;

    &:hover {
        color: var(--yellow);
    }
}