@import '../../styles/variables.css';

.right_pannel{
 background-color: var(  --color-light-gray);
 width: 108px;

 /* margin-left: 10px; */
}

.language{
    height: 40px;
    width: 100px;
    background-color: var(--color-gray);
    margin-top: 50px;
    margin-left: 3px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;

}
.language:hover{
    background-color: rgb(243, 190, 93);
}