@import '../../styles/variables.css';

.right_pannel{
 background-color:white ;
 width: 108px;

 /* margin-left: 10px; */
}

.language{
    height: 40px;
    width: 100px;
    /* background-color: var(--color-gray); */
    margin-top: 50px;
    margin-left: 3px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    cursor: pointer;
  

}

.language button{
    margin-left: 10px;
    border: 1px solid #a85bf9;
    border-radius: 10px;
    width: 35px;
    background-color: #D7BBF5;
}
