@import '../../styles/variables.css';

.portfolio{
    background-color: var(--white);
    height: 450px;
    width: 970px;
    margin-top: 50px;
    padding-top: 20px;
 
}

.portfolioWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;

}

.portfolioWrapper img {
    height: 100px;
    width: 100px;
    object-fit: contain;
}

.portfolio_title{
    margin-left: 400px;
}

