@import '../../styles/variables.css';

.navigation {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 43px;
    position: fixed;
    margin-top: 100px;
    margin-left: 30px;
  }
  .item {
    width: 40px;
    height: 40px;
    display: block;
    background-color: #D7BBF5;
border-radius: 19px;
    background-position: center;
  }
  
 .navigation img {
    margin-left: 10px;
    margin-top: 10px;
    color: black;
 }
  .item:hover {
    background-color: #6528F7;
  }