@import '../../styles/variables.css';

.navigation {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 43px;
    position: fixed;
    margin-top: 200px;
  }
  .item {
    width: 40px;
    height: 40px;
    display: block;
    background-color: var(--color-gray);
border-radius: 19px;
    background-position: center;
  }
  
 .navigation img {
    margin-left: 10px;
    margin-top: 10px;
 }
  .item:hover {
    background-color: var(--orange);
  }