.top_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;

    margin-left: 74px;
    margin-top: 50px;
}

.img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: contain;
    
}


.top_info img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: contain;
    
}

.top_info h3{
 

}