

  .portfolio_card{

    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 34px;
  }

  .portfolio_card img {
width: 250px;
height: 250px;
  }
